/* Global Styles */
html, body {
    height: 100%; /* Ensure full height for Flexbox layout */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('foto1.jpg');
    background-size: cover;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-bottom: 5px solid #007bff;
}

p {
    text-align: justify;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #007bff;
}

/* Main Styles */
main {
    flex: 1; /* Allow main to grow and fill available space */
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    border-top: 5px solid #007bff;
}

/* Home Page Styles */
.hero {
    text-align: center;
    padding: 50px 20px;
   /* background: url('foto2.jpg') no-repeat center center/cover;*/
    color: #000000;
    
}

.hero h1 {
    font-size: 2.5rem;
}

/* About Page Styles */
.about-section {
    text-align: center;
    padding: 50px 20px;
}

.about-section h2 {
    font-size: 2rem;
}

.about-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Contact Page Styles */
.contact-section {
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input#email {
    color: white;
    background-color: #333;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
